* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

  .container{
      width: 800px;
      height: 100%;
      margin: 50px auto;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url('https://media.istockphoto.com/photos/abstract-green-felt-background-picture-id499233392?k=6&m=499233392&s=170667a&w=0&h=gB_LEBTURmlN4ivKOOeDNZM3v1l0z1gwXmBlQ0ejzKM=');
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      box-shadow: 5px 10px 18px;
  }

  .partecipanti{
      width: 100%;
      display: flex;
      justify-content: space-around;
  }

  .giocatore-uno, .giocatore-due{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  h2{
      color: white;
  }

  #primo-nome, #secondo-nome{
      margin-top: 15px;
      color: red;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 700;
  }

  .tiro{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .tiro p{
      margin-top: 20px;
      color: brown;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
  }

  #lancio, #lancio2{
      color: yellow;
      font-size: 5rem;
      font-weight: 700;
  }

  img{
      width: 100px;
      height: 100px;
      margin-top: 20px;
  }

  #vincitore h1{
       color: brown;
       font-size: 3rem;
       padding-top: 20px;
  }

  #vincitore button{
      margin-top: 20px;
      padding: 15px;
      background-color: navy;
      border: 1px solid navy;
      border-radius: 10px;
  }


  #nome-vincitore {
      color: white;
      font-size: 5rem;
      text-transform: uppercase;
  }

  #pareggio h1{
      color: white;
      font-size: 3rem;
      text-transform: uppercase;
  }

  #pareggio button{
      margin-top: 20px;
      padding: 15px;
      background-color: red;
      border: 1px solid red;
      border-radius: 10px;
  }


  #vincitore, #pareggio{
      display: none;
  }

  #vincitore.visible, #pareggio.visible{
      display: block;
      text-align: center;
  }
