* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

  .container{
      width: 600px;
      height: 100%;
      margin: 50px auto;
      padding: 20px 0;
      display: flex;
      justify-content: space-around;
      background-image: url('https://image.freepik.com/foto-gratuito/bicchiere-di-whisky-con-cubetti-di-ghiaccio-e-dadi-rossi-su-sfondo-verde-poker_23-2147881070.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  .giocatore-uno, .giocatore-due{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  h2{
      color: white;
  }

  #primo-nome, #secondo-nome{
      margin-top: 15px;
      color: lightgreen;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 700;
  }

  .tiro{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .tiro p{
      color: white;
      font-size: 2rem;
  }

  #lancio, #lancio2{
      color: yellow;
      font-size: 4rem;
      font-weight: 700;
  }

  img{
      width: 100px;
      height: 100px;
      margin-top: 20px;
  }
