* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

  .container{
      width: 800px;
      height: 100%;
      margin: 50px auto;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url('https://media.istockphoto.com/photos/poker-chips-on-green-felt-casino-table-gambling-poker-blackjack-and-picture-id672545750?k=6&m=672545750&s=612x612&w=0&h=UUqDys2MxnPa9eQNHifbFdSGYrR94iKJahBk7Pwz1co=');
      background-repeat: no-repeat;
      background-size: cover;
  }

  .partecipanti{
      width: 100%;
      display: flex;
      justify-content: space-around;
  }

  .giocatore-uno, .giocatore-due{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  h2{
      color: white;
  }

  #primo-nome, #secondo-nome{
      margin-top: 15px;
      color: red;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 700;
  }

  .tiro{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .tiro p{
      color: yellow;
      font-weight: 700;
      font-size: 2rem;
  }

  #lancio, #lancio2{
      color: yellow;
      font-size: 4rem;
      font-weight: 700;
  }

  img{
      width: 100px;
      height: 100px;
      margin-top: 20px;
  }

  #vincitore h1{
       color: orange;
       padding-top: 20px;
  }

  #nome-vincitore {
      color:navy;
      font-size: 5rem;
      text-transform: uppercase;
  }

  #pareggio h1{
      color: red;
      font-size: 3rem;
      text-transform: uppercase;
  }

  #vincitore, #pareggio{
      display: none;
  }

  #vincitore.visible, #pareggio.visible{
      display: block;
      text-align: center;
  }
